a {
	color: #24FA54;
	text-shadow: 100%;
	text-decoration: none;
}

body {
	background: #000 url("../img/rehoboth.png") no-repeat fixed center;
	background-size: cover;
	font-family: Helvetica, Arial, sans-serif;
}

.container {
	margin: auto;
	width: 90%;
}

.content {
	padding: 0px;
}

.header {
	font-family: Helvetica, Arial, sans-serif;
}

.footer {
	clear: both;
}

.navigation {
	float: left;
	height: 145px;
	padding-left: 7px;
	padding-right: 7px;
	width: 90px;
}

.navigation .selected {
	font-weight: bold;
}

.navigation ul {
	list-style-type: none;
	padding: 0px;
}

.text {
	
}