a {
	background-color: #333;
	color: #fff;
	text-decoration: none;
}

body {
	background-attachment: fixed;
	background-color: #fff;
	background-image: url("../img/rehoboth.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: Times New Roman, Times, serif;
}

.content {
	background-color: #000;
	color: #fff;
	font-family: Times New Roman, Times, serif;
	width: 128px;
}

.footer {
	background-color: #000;
	color: #fff;
	font-family: Times New Roman, Times, serif;
	font-style: oblique;
	margin-top: 20px;
	width: 210px;
}

.header {
	background-color: #000;
	color: #fff;
	font-family: Times New Roman, Times, serif;
	font-size: 50px;
	font-weight: bold;
	width: 185px;
}

.links {
	font-size: 20px;
	width: 64px;
}

p {
	margin: auto;
}