body {
	
}

#header {
	font-family: Helvetica, Arial, serif;\
	font-size: 30px;
	color: white;
	background-color: black;
	padding: 20px;
	margin: 10px;
}

#navigation ul {
	list-style-type: none;
	padding: 0px;
}

#navigation .selected {
	font-weight: bold;
	color: red;
}